In [1]:
import pandas as pd 
import numpy as np
import json

import os
from collections import Counter

# Append the entire repo parent director so files therein can be accessed in notebook
import sys
import pathlib
sys.path.append(str(pathlib.Path().absolute().parent))

from src import helper
%load_ext autoreload

### Import Data

In [3]:
county_ts = pd.read_pickle('../data/interim/county-time-series-with-fipsmap.pickle')
county_xwalk = pd.read_csv('../data/interim/CountyCrossWalk_Zillow.csv')

fips_mapping = pd.read_pickle('../data/interim/fips-county-metro-state-df.pickle')

In [14]:
county_xwalk.head(3)

,CountyName,StateName,StateFIPS,CountyFIPS,MetroName_Zillow,CBSAName,CountyRegionID_Zillow,MetroRegionID_Zillow,FIPS,CBSACode
0,Pike,Pennsylvania,42,103,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",280,394913.0,42103,35620.0
1,Bronx,New York,36,5,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",401,394913.0,36005,35620.0
2,Essex,New Jersey,34,13,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",504,394913.0,34013,35620.0

In [17]:
len(set(county_ts['RegionName']).intersection(set(county_xwalk['FIPS'])))

2701

In [5]:
county_ts.head()

,Date,RegionName,DaysOnZillow_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,...,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental,CountyName,StateName,MetroName,CensusRegion
0,1996-04-30,10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,129700.0,NaN,NaN,NaN,NaN,NaN,Kent,Delaware,"Dover, DE",South
1,1996-04-30,10003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,181400.0,NaN,NaN,NaN,NaN,NaN,New Castle,Delaware,"Philadelphia, PA",South
2,1996-04-30,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,192300.0,NaN,NaN,NaN,NaN,NaN,Baldwin,Alabama,"Daphne, AL",South
3,1996-04-30,1009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123500.0,NaN,NaN,NaN,NaN,NaN,Blount,Alabama,"Birmingham, AL",South
4,1996-04-30,1017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Chambers,Alabama,"Valley, AL",South

In [13]:
county_ts[county_ts['CountyName'].str.contains("Greene")].sort_values(by='StateName')

,Date,RegionName,DaysOnZillow_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,...,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental,CountyName,StateName,MetroName,CensusRegion
213541,2007-04-30,5055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,134100.0,NaN,NaN,NaN,NaN,NaN,Greene,Arkansas,"Paragould, AR",South
73080,2000-03-31,5055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120600.0,NaN,NaN,NaN,NaN,NaN,Greene,Arkansas,"Paragould, AR",South
271866,2010-01-31,5055,NaN,190.0,184.0,NaN,NaN,NaN,NaN,NaN,...,147800.0,NaN,NaN,NaN,NaN,NaN,Greene,Arkansas,"Paragould, AR",South
422159,2014-12-31,5055,NaN,270.0,283.0,NaN,NaN,80.555556,NaN,NaN,...,155400.0,826.0,821.0,0.586,821.0,822.0,Greene,Arkansas,"Paragould, AR",South
71483,2000-02-29,5055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122100.0,NaN,NaN,NaN,NaN,NaN,Greene,Arkansas,"Paragould, AR",South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101993,2001-09-30,51079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,227100.0,NaN,NaN,NaN,NaN,NaN,Greene,Virginia,"Charlottesville, VA",South
372792,2013-05-31,51079,NaN,192.0,198.0,NaN,NaN,127.618613,NaN,NaN,...,291300.0,1240.0,1280.0,0.890,NaN,1280.0,Greene,Virginia,"Charlottesville, VA",South
103607,2001-10-31,51079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,226200.0,NaN,NaN,NaN,NaN,NaN,Greene,Virginia,"Charlottesville, VA",South
385750,2013-10-31,51079,NaN,214.0,229.0,NaN,NaN,128.539220,NaN,NaN,...,284300.0,1278.0,1303.0,0.918,NaN,1304.0,Greene,Virginia,"Charlottesville, VA",South
518384,2017-12-31,51079,NaN,91.0,75.0,NaN,NaN,149.685768,NaN,NaN,...,314600.0,1381.0,1361.0,0.940,NaN,1361.0,Greene,Virginia,"Charlottesville, VA",South

In [6]:
county_ts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518791 entries, 0 to 518790
Data columns (total 86 columns):
 #   Column                                                         Non-Null Count   Dtype
---  ------                                                         --------------   -----
 0   Date                                                           518791 non-null  object
 1   RegionName                                                     518791 non-null  int64
 2   DaysOnZillow_AllHomes                                          43692 non-null   float64
 3   InventorySeasonallyAdjusted_AllHomes                           177024 non-null  float64
 4   InventoryRaw_AllHomes                                          177024 non-null  float64
 5   MedianListingPricePerSqft_1Bedroom                             9432 non-null    float64
 6   MedianListingPricePerSqft_2Bedroom                             66693 non-null   float64
 7   MedianListingPricePerSqft_3Bedroom                             126240 non-null  float64
 8   MedianListingPricePerSqft_4Bedroom                             80618 non-null   float64
 9   MedianListingPricePerSqft_5BedroomOrMore                       34769 non-null   float64
 10  MedianListingPricePerSqft_AllHomes                             178294 non-null  float64
 11  MedianListingPricePerSqft_CondoCoop                            31655 non-null   float64
 12  MedianListingPricePerSqft_DuplexTriplex                        12661 non-null   float64
 13  MedianListingPricePerSqft_SingleFamilyResidence                176872 non-null  float64
 14  MedianListingPrice_1Bedroom                                    7872 non-null    float64
 15  MedianListingPrice_2Bedroom                                    53965 non-null   float64
 16  MedianListingPrice_3Bedroom                                    111914 non-null  float64
 17  MedianListingPrice_4Bedroom                                    68106 non-null   float64
 18  MedianListingPrice_5BedroomOrMore                              27487 non-null   float64
 19  MedianListingPrice_AllHomes                                    160413 non-null  float64
 20  MedianListingPrice_CondoCoop                                   25962 non-null   float64
 21  MedianListingPrice_DuplexTriplex                               12128 non-null   float64
 22  MedianListingPrice_SingleFamilyResidence                       159438 non-null  float64
 23  MedianPctOfPriceReduction_AllHomes                             126456 non-null  float64
 24  MedianPctOfPriceReduction_CondoCoop                            19800 non-null   float64
 25  MedianPctOfPriceReduction_SingleFamilyResidence                125576 non-null  float64
 26  MedianPriceCutDollar_AllHomes                                  126456 non-null  float64
 27  MedianPriceCutDollar_CondoCoop                                 19800 non-null   float64
 28  MedianPriceCutDollar_SingleFamilyResidence                     125576 non-null  float64
 29  MedianRentalPricePerSqft_1Bedroom                              13509 non-null   float64
 30  MedianRentalPricePerSqft_2Bedroom                              24756 non-null   float64
 31  MedianRentalPricePerSqft_3Bedroom                              27252 non-null   float64
 32  MedianRentalPricePerSqft_4Bedroom                              11509 non-null   float64
 33  MedianRentalPricePerSqft_5BedroomOrMore                        2819 non-null    float64
 34  MedianRentalPricePerSqft_AllHomes                              39857 non-null   float64
 35  MedianRentalPricePerSqft_CondoCoop                             12061 non-null   float64
 36  MedianRentalPricePerSqft_DuplexTriplex                         5861 non-null    float64
 37  MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits        25403 non-null   float64
 38  MedianRentalPricePerSqft_SingleFamilyResidence                 37581 non-null   float64
 39  MedianRentalPricePerSqft_Studio                                12283 non-null   float64
 40  MedianRentalPrice_1Bedroom                                     14836 non-null   float64
 41  MedianRentalPrice_2Bedroom                                     25618 non-null   float64
 42  MedianRentalPrice_3Bedroom                                     27606 non-null   float64
 43  MedianRentalPrice_4Bedroom                                     11389 non-null   float64
 44  MedianRentalPrice_5BedroomOrMore                               2538 non-null    float64
 45  MedianRentalPrice_AllHomes                                     37730 non-null   float64
 46  MedianRentalPrice_CondoCoop                                    11129 non-null   float64
 47  MedianRentalPrice_DuplexTriplex                                10684 non-null   float64
 48  MedianRentalPrice_MultiFamilyResidence5PlusUnits               27683 non-null   float64
 49  MedianRentalPrice_SingleFamilyResidence                        36403 non-null   float64
 50  MedianRentalPrice_Studio                                       14201 non-null   float64
 51  ZHVIPerSqft_AllHomes                                           376531 non-null  float64
 52  PctOfHomesDecreasingInValues_AllHomes                          238577 non-null  float64
 53  PctOfHomesIncreasingInValues_AllHomes                          238577 non-null  float64
 54  PctOfHomesSellingForGain_AllHomes                              603 non-null     float64
 55  PctOfHomesSellingForLoss_AllHomes                              603 non-null     float64
 56  PctOfListingsWithPriceReductionsSeasAdj_AllHomes               146344 non-null  float64
 57  PctOfListingsWithPriceReductionsSeasAdj_CondoCoop              24112 non-null   float64
 58  PctOfListingsWithPriceReductionsSeasAdj_SingleFamilyResidence  145640 non-null  float64
 59  PctOfListingsWithPriceReductions_AllHomes                      146344 non-null  float64
 60  PctOfListingsWithPriceReductions_CondoCoop                     24112 non-null   float64
 61  PctOfListingsWithPriceReductions_SingleFamilyResidence         145640 non-null  float64
 62  PriceToRentRatio_AllHomes                                      124056 non-null  float64
 63  Sale_Counts                                                    48845 non-null   float64
 64  Sale_Counts_Seas_Adj                                           48818 non-null   float64
 65  Sale_Prices                                                    27103 non-null   float64
 66  ZHVI_1bedroom                                                  162783 non-null  float64
 67  ZHVI_2bedroom                                                  288403 non-null  float64
 68  ZHVI_3bedroom                                                  359440 non-null  float64
 69  ZHVI_4bedroom                                                  334801 non-null  float64
 70  ZHVI_5BedroomOrMore                                            248154 non-null  float64
 71  ZHVI_AllHomes                                                  380841 non-null  float64
 72  ZHVI_BottomTier                                                315004 non-null  float64
 73  ZHVI_CondoCoop                                                 165149 non-null  float64
 74  ZHVI_MiddleTier                                                380817 non-null  float64
 75  ZHVI_SingleFamilyResidence                                     379930 non-null  float64
 76  ZHVI_TopTier                                                   392380 non-null  float64
 77  ZRI_AllHomes                                                   150077 non-null  float64
 78  ZRI_AllHomesPlusMultifamily                                    151251 non-null  float64
 79  ZriPerSqft_AllHomes                                            139194 non-null  float64
 80  Zri_MultiFamilyResidenceRental                                 97008 non-null   float64
 81  Zri_SingleFamilyResidenceRental                                150983 non-null  float64
 82  CountyName                                                     518791 non-null  object
 83  StateName                                                      518791 non-null  object
 84  MetroName                                                      386640 non-null  object
 85  CensusRegion                                                   518791 non-null  object
dtypes: float64(80), int64(1), object(5)
memory usage: 340.4+ MB