### Load Packages / Modules

In [1]:
import pandas as pd 
import numpy as np
import json
import tqdm

import warnings
warnings.filterwarnings("ignore")

from collections import Counter
from pprint import pprint

import zipcodes

# Append the entire repo parent director so files therein can be accessed in notebook
import os
import sys
import pathlib
sys.path.append(str(pathlib.Path().absolute().parent))

from src import helper
%load_ext autoreload

### Load Data

In [2]:
zip_w_city = pd.read_pickle('../data/interim/ca-zip-w-city-ts.pickle')
city_w_zip = pd.read_pickle('../data/interim/ca-city-w-zip-ts.pickle')

In [3]:
ts_data = pd.concat([zip_w_city, city_w_zip])

In [4]:
display(ts_data.shape)
display(ts_data.info())
display(ts_data.head(3))

(567959, 40)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567959 entries, 0 to 235295
Data columns (total 40 columns):
CensusRegion                                                     546016 non-null object
City                                                             567959 non-null object
County                                                           567959 non-null object
Date                                                             567959 non-null object
Lat                                                              546012 non-null object
Long                                                             546012 non-null object
MetroName                                                        534634 non-null object
PctOfHomesDecreasingInValues_AllHomes                            518242 non-null float64
PctOfHomesIncreasingInValues_AllHomes                            518242 non-null float64
PctOfListingsWithPriceReductionsSeasAdj_AllHomes                 135608 non-null float64
PctOfListingsWithPriceReductionsSeasAdj_CondoCoop                43560 non-null float64
PctOfListingsWithPriceReductionsSeasAdj_SingleFamilyResidence    124168 non-null float64
PctOfListingsWithPriceReductions_AllHomes                        135608 non-null float64
PctOfListingsWithPriceReductions_CondoCoop                       43560 non-null float64
PctOfListingsWithPriceReductions_SingleFamilyResidence           124168 non-null float64
PriceToRentRatio_AllHomes                                        182365 non-null float64
RegionName                                                       524069 non-null float64
State                                                            546016 non-null object
StateName                                                        546016 non-null object
Unique_City_ID                                                   546016 non-null object
ZHVIPerSqft_AllHomes                                             536778 non-null float64
ZHVI_1bedroom                                                    196127 non-null float64
ZHVI_2bedroom                                                    449898 non-null float64
ZHVI_3bedroom                                                    520938 non-null float64
ZHVI_4bedroom                                                    489226 non-null float64
ZHVI_5BedroomOrMore                                              411736 non-null float64
ZHVI_AllHomes                                                    530629 non-null float64
ZHVI_BottomTier                                                  476432 non-null float64
ZHVI_CondoCoop                                                   331345 non-null float64
ZHVI_MiddleTier                                                  530209 non-null float64
ZHVI_SingleFamilyResidence                                       527713 non-null float64
ZHVI_TopTier                                                     517104 non-null float64
ZRI_AllHomes                                                     181307 non-null float64
ZRI_AllHomesPlusMultifamily                                      181307 non-null float64
ZipCode                                                          213349 non-null object
ZipCode_int                                                      332663 non-null float64
ZipCode_str                                                      332663 non-null object
ZriPerSqft_AllHomes                                              180980 non-null float64
Zri_MultiFamilyResidenceRental                                   154115 non-null float64
Zri_SingleFamilyResidenceRental                                  180791 non-null float64
dtypes: float64(28), object(12)
memory usage: 177.7+ MB

None

,CensusRegion,City,County,Date,Lat,Long,MetroName,PctOfHomesDecreasingInValues_AllHomes,PctOfHomesIncreasingInValues_AllHomes,PctOfListingsWithPriceReductionsSeasAdj_AllHomes,...,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZipCode,ZipCode_int,ZipCode_str,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,West,Los Angeles,Los Angeles,1996-04-30,33.9736,-118.2479,"Los Angeles-Long Beach-Anaheim, CA",NaN,NaN,NaN,...,114100.0,128400.0,NaN,NaN,NaN,90001.0,90001,NaN,NaN,NaN
1,West,Los Angeles,Los Angeles,1996-04-30,33.9490,-118.2460,"Los Angeles-Long Beach-Anaheim, CA",NaN,NaN,NaN,...,105700.0,121300.0,NaN,NaN,NaN,90002.0,90002,NaN,NaN,NaN
2,West,Los Angeles,Los Angeles,1996-04-30,33.9640,-118.2737,"Los Angeles-Long Beach-Anaheim, CA",NaN,NaN,NaN,...,103800.0,124000.0,NaN,NaN,NaN,90003.0,90003,NaN,NaN,NaN